@model Labb4Uppgift2.Models.Student

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Student</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<div id="gradeList">
    @Html.Action(actionName: "_List", controllerName: "Grade", routeValues: new {studentId = Model.StudentId})
</div>
<div>
    @Html.Action("_Create", "Grade", new {studentId = Model.StudentId})
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
    
</p>

